### What is a Tuple?

A tuple is a collection data type in Python that is ordered and immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed. Tuples are defined by enclosing the elements in parentheses `()`.

### Creating a Tuple

You can create a tuple by placing a sequence of values separated by commas inside parentheses. For example:

In [1]:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)

In [2]:
tuple1 = tuple()
print(tuple1)

()

In [3]:
print(type(my_tuple))

<class 'tuple'>

In [4]:
numbers = tuple([1,2,3,4,5])
print(numbers)

(1, 2, 3, 4, 5)

In [5]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [6]:
mixed_tuple = (1, 2.5, "hello")
print(mixed_tuple)

(1, 2.5, 'hello')

In [7]:
# Accessing elements in a tuple
numbers = (1, 2, 3, 4, 5)
print(numbers[0])
print(numbers[-1])

1
5

In [8]:
numbers[0:3]

(1, 2, 3)

In [9]:
numbers[::]

(1, 2, 3, 4, 5)

In [10]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [11]:
# Tuple Operations
# Concatenation

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
print(tuple1 + tuple2)

(1, 2, 3, 4, 5, 6)

In [12]:
# Repetition
tuple1 = (1, 2, 3)
print(tuple1 * 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [13]:
# Membership
tuple1 = (1, 2, 3)
print(1 in tuple1)

True

In [14]:
# Iterating through a tuple
tuple1 = (1, 2, 3)
for i in tuple1:
    print(i)

1
2
3

In [15]:
# Tuple Methods
# count()
tuple1 = (1, 2, 3, 1, 2, 1, 3, 1)
print(tuple1.count(1))

4

In [16]:
# index()
tuple1 = (1, 2, 3, 1, 2, 1, 3, 1)
print(tuple1.index(1))

0

In [17]:
# Packing and Unpacking in Tuple

# Packing
packed_tuple = 1, 2, 3, 4
print(packed_tuple)

(1, 2, 3, 4)

In [18]:
# Unpacking
a, b, c, d = packed_tuple
print(a)
print(b)
print(c)

1
2
3

In [19]:
# Unpacking with *
a, *b, c = packed_tuple
print(a)
print(b)
print(c)

1
[2, 3]
4

In [20]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
a, *b, c = numbers
print(a)
print(b)
print(c)

1
[2, 3, 4, 5, 6, 7, 8]
9

In [21]:
# Nested Tuple
nested_tuple = (1, 2, (3, 4, 5), (6, 7, 8))
print(nested_tuple)

(1, 2, (3, 4, 5), (6, 7, 8))

In [22]:
# Accessing elements in a nested tuple
nested_tuple = (1, 2, (3, 4, 5), (6, 7, 8))
print(nested_tuple[2])
print(nested_tuple[3][1])

(3, 4, 5)
7

In [23]:
# Slicing a nested tuple
nested_tuple = (1, 2, (3, 4, 5), (6, 7, 8))
print(nested_tuple[2][0:2])

(3, 4)

In [24]:
# Concatenating nested tuple
nested_tuple1 = (1, 2, (3, 4, 5))
nested_tuple2 = (6, 7, 8)
print(nested_tuple1 + nested_tuple2)

(1, 2, (3, 4, 5), 6, 7, 8)

In [25]:
# Repetition in nested tuple
nested_tuple1 = (1, 2, (3, 4, 5))
print(nested_tuple1 * 2)

(1, 2, (3, 4, 5), 1, 2, (3, 4, 5))

In [26]:
# Membership in nested tuple
nested_tuple1 = (1, 2, (3, 4, 5))
print(5 in nested_tuple1)

False