SQL And SQLite

SQL is a standard language for storing, manipulating and retrieving data in databases.
SQLite is a self contained, serverless, zero-configuration, transactional SQL database engine that is widely used for embedded systems and small applications.

In [1]:
import sqlite3

In [2]:
# Connect to an SQLite database

conn = sqlite3.connect('mydatabase.db')
conn

In [3]:
cursor = conn.cursor()

In [5]:
# Create a table
cursor.execute('''
CREATE Table If Not Exists Employees
    (Id INTEGER PRIMARY KEY, 
    Name TEXT NOT NULL,
    Age INTEGER,
    Department TEXT,
    Salary REAL)
''')

In [6]:
# Commit the changes
conn.commit()

In [7]:
cursor.execute('''
Select * From Employees
''')

In [8]:
cursor.execute('''
INSERT INTO Employees (Name, Age, Department, Salary)
VALUES ('John', 25, 'Sales', 25000)
''')

In [9]:
cursor.execute('''
INSERT INTO Employees (Name, Age, Department, Salary)
VALUES ('Tim', 30, 'IT', 50000)
''')

In [10]:
cursor.execute('''
INSERT INTO Employees (Name, Age, Department, Salary)
VALUES ('Rob', 35, 'HR', 35000)
''')

In [11]:
# Commit the changes
conn.commit()

In [13]:
cursor.execute('''
Select * From Employees
''')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'John', 25, 'Sales', 25000.0)
(2, 'Tim', 30, 'IT', 50000.0)
(3, 'Rob', 35, 'HR', 35000.0)

In [14]:
# Update the records
cursor.execute('''
UPDATE Employees SET Salary = 30000 WHERE Id = 1
''')

# Commit the changes
conn.commit()

In [15]:
cursor.execute('''
Select * From Employees
''')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'John', 25, 'Sales', 30000.0)
(2, 'Tim', 30, 'IT', 50000.0)
(3, 'Rob', 35, 'HR', 35000.0)

In [16]:
# Delete the records
cursor.execute('''
DELETE FROM Employees WHERE Name = 'Tim'
''')

# Commit the changes
conn.commit()

cursor.execute('''
Select * From Employees
''')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'John', 25, 'Sales', 30000.0)
(3, 'Rob', 35, 'HR', 35000.0)

In [ ]:
# Drop the table
cursor.execute('''
DROP TABLE Employees
''')

In [17]:
# Working with Sales Data
conn = sqlite3.connect('sales.db')
cursor = conn.cursor()

cursor.execute('''
CREATE Table If Not Exists Sales
    (Id INTEGER PRIMARY KEY, 
    Name TEXT NOT NULL,
    Date TEXT,
    Amount REAL)
''')


sales_data = [
        ('John', '2020-01-01', 100),
        ('Tim', '2020-01-01', 200),
        ('Rob', '2020-01-02', 300),
        ('John', '2020-01-02', 400),
        ('Tim', '2020-01-02', 500),
        ('Rob', '2020-01-03', 600)
]

cursor.executemany('''
INSERT INTO Sales (Name, Date, Amount)
VALUES (?,?,?)
''', sales_data)

# Commit the changes
conn.commit()

cursor.execute('''
Select * From Sales
''')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'John', '2020-01-01', 100.0)
(2, 'Tim', '2020-01-01', 200.0)
(3, 'Rob', '2020-01-02', 300.0)
(4, 'John', '2020-01-02', 400.0)
(5, 'Tim', '2020-01-02', 500.0)
(6, 'Rob', '2020-01-03', 600.0)

In [18]:
# Close the connection
conn.close()